name: Build and Push Docker Image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push the Docker image
      run: |
        # IMAGE_TAG=${{ github.sha }}
        IMAGE_TAG=github-latest
        docker build . --file Dockerfile --tag lionelschiepers/stockquote-node-api:$IMAGE_TAG
        docker push lionelschiepers/stockquote-node-api:$IMAGE_TAG